

.box {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 150px;
}
.data {
    margin: 10px 0 ;
}

.Submit {
    margin: 40px 0 ;

}

.Submit input {
    width: 90%;
}